body {
	background: url("../img/bg.png");
}

/*tiled background use png*/
/*transparency: png color: png white: jpg;*/

/* ********* Layout ********* */

.container {
	width: 95%;
	margin: 0 auto;
}

#contact {
	text-align: center;
}

article section {
	float: left;
	width: 50%;
	text-align: center;
}

article:after {
	clear: both;
}

iframe, img {
	max-width: 100%;
	width: 100%;
}

nav li{
	display: inline-block;
	margin: auto;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	padding-left: 1em;
	color: black;
}

nav a:hover {
	text-transform: underline;
}

/*article section img:hover {
	background: red;
	opacity: 20%;
}*/

/*Desktop*/

@media (min-width: 960px) {
	#top {
		width: 10em;
		padding-top: 1em
	}
}

/*Tablet*/

@media (min-width: 768px) {
	section img {
		width: 100%;
	}
	section h1 {
		text-transform: uppercase;
	}
}

/*Mobile*/

@media (min-width: 768px) {
	section img {
	float: none;
	}
}